@font-face {
  font-family: 'Graphik';
  src: url('./fonts/graphik-font-family/Graphik-Black-Trial.otf');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  font-family: 'Graphik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-bg-light: #f1f8fc;
  --color-primary: #0074c7;
  --color-secondary: #00497c;
  --color-dark: #384050;
  --color-accent-red: #cd2c2e;
  --color-accent-green: #82b864;
}